.block-strap {
    .block-inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: pxToRem(15);
        padding: 1.5%;
        box-sizing: border-box;
        .block-strap-column {
            position: relative;
            margin-bottom: pxToRem(20);
            background: #fefff9;
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
            border-radius: pxToRem(4);
            @include for-phone-landscape-down {
                width: 100%;
            }// for-phone-landscape-down
            @include for-tablets-up {
                max-width: pxToRem(320);
                margin-right: pxToRem(20);
                margin-bottom: pxToRem(20);
                &:nth-child(even) {
                    margin-right: 0;
                }// nth-child(even)
            }// for-tablets-up
            @include for-desktop-up {
                &:nth-child(even) {
                    margin-right: pxToRem(20);
                }// nth-child(even)
            }// for-desktop-up
        }// block-strap-column
    }// block-inner
}// block-strap