.block-tabs {
    .r-tabs {
        .r-tabs-nav {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
            .r-tabs-tab {
                margin: 0;
                list-style: none;
                flex: 1;
                &.r-tabs-state-default {
                    a {
                        color: #333;
                        padding: 0 1.88rem;
                        text-align: center;
                        font-size: 0.69rem;
                        font-weight: 600;
                        line-height: 2.38rem;
                        letter-spacing: .1rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        white-space: nowrap;
                        background-color: #ccc;
                        cursor: pointer;
                        box-sizing: border-box;
                        display: block;
                        @include transition;
                    }
                }// r-tabs-state-default
                &.r-tabs-state-active {
                    a {
                        color: #fff;
                        padding: 0 1.88rem;
                        text-align: center;
                        font-size: 0.69rem;
                        font-weight: 600;
                        line-height: 2.38rem;
                        letter-spacing: .1rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        white-space: nowrap;
                        background-color: gray;
                        cursor: pointer;
                        box-sizing: border-box;
                        display: block;
                        @include transition;
                    }
                }// r-tabs-state-active
            }// r-tabs-tab
        }// r-tabs-nav
        .r-tabs-accordion-title {
            cursor: pointer;
        }
        .r-tabs-panel {
            padding: 15px;
            display: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin-top: pxToRem(20);
            margin-bottom: pxToRem(20);
            &.r-tabs-state-active {
                display: block;
            }
        }
        .r-tabs-accordion-title {
            display: none;
        }
    }
    @include for-phone-landscape-down {
        .r-tabs {
            .r-tabs-nav {
                display: none;
            }
            .r-tabs-accordion-title {
                display: block;
                a {
                    color: #333;
                    display: block;
                    background-color: #ccc;
                    padding: pxToRem(10);
                    position: relative;
                    &:after {
                        content: '+';
                        right: 1.88rem;
                        position: absolute;
                        font-size: pxToRem(24);
                        font-weight: normal;
                        line-height: 2.38rem;    
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &.r-tabs-state-active {
                    a {
                        color: #fff;
                        background-color: #333;
                        &:after {
                            content: '-';
                        }
                    }
                }
            }
        }
    }
}// block-tabs